 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
  font-family: "Outfit", sans-serif;
      }

      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }

      .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 70%;
        background-color: #F3F4F6;
        margin: auto;
        margin-top: 72px;
        margin-bottom: 72px;
        background-image: url(/resources/Background_decor@2x.png);
        background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-size: auto;
  border-radius: 30px;
  overflow: hidden;
  
  
      }



      
.main{
    grid-column: 1/3;
    padding: 32px;
    width: 75%;
}

.main h1{
    margin: 12px 0;
}
.main :first-child{
    color: #263FA9;
}
.card{
    background-color: #fff;
    position: relative;
}
.card .text{
    position: absolute;
    z-index: 23;
    bottom: 20px;
    left: 24px;
    color: #FFFEFE;

}
.card img{
    position: relative;
    width: 284px;
    height: 288px;
    bottom: -4px;
}

.card h1{
    margin-bottom: 4px;
}

.card:nth-child(2){
    background-color: #C1B6F8;
}

.card:nth-child(3){
    background-color: #EDACD2;
}
.card:nth-child(4){
    background-color: #9DC4F8;
    grid-column: 2/3;
}
.card:nth-child(5){
    background-color: #F8D8B0;
}
.card:nth-child(6){
    background-color: #86E7D4;
}
.cont{
    position: relative;
}
.members{
    display: flex;
    align-items: end;
    padding: 32px;
    text-align: left;
    height: 288px;
    width: 284px;
    position: absolute;
    bottom: 0px;
grid-column: 1/2;

   
  
}


@media (max-width:1280px){
    .container{
        grid-template-columns: repeat(3,1fr);
    }
    .main{
        grid-column: 1/4;
    }
    .card:nth-child(4){
    grid-column: 3/4;}
     .card:nth-child(5){
    grid-column: 2/3;
    
}

}


@media (max-width:1023px){
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
  }

  .members{
    position: static;
  }

  .cont {
    display: flex;
    justify-content: start;
  }
}